[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
torch = "*"
sentence-transformers = "*"
jupyter = "*"
notebook = "*"
joblib = "*"
chromadb = "*"
networkx = "*"
transformers = "*"
google-genai = "*"
datasets = "*"
seaborn = "*"
python-dotenv = "*"
accelerate = "*"
urllib3 = ">=2.5.0"
pillow = "*"
tqdm = "*"
kagglehub = "*"
google-generativeai = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
